@model TallerCRUDNETCORE.Models.Entidades.Producto

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar producto</h1>
<hr />
<div id="mainContainer">
    <div class="d-flex justify-content-center">
        <fieldset>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductoId" />
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Existencia" class="control-label"></label>
                    <input asp-for="Existencia" class="form-control" />
                    <span asp-validation-for="Existencia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Fecha de ingreso </label>
                    <input asp-for="FechaIngreso" class="form-control" />
                    <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> ID proveedor</label>
                    <input asp-for="ProveedorId" class="form-control" />
                    <span asp-validation-for="ProveedorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </fieldset>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>

    #mainContainer fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        position: relative;
        min-width: 500px;
    }

    .form-group {
        background: white;
    }

    h1 {
        color: #364843;
        font-family: "Arial Rounded MT";
        font-size: 25px;
        line-height: 30px;
        font-weight: normal;
        text-align: center;
        text-shadow: 0 1px 1px #fff;
    }
</style>